@charset "UTF-8";
@import url("https://use.typekit.net/erq0xnx.css");
/* universal */
html {
  scroll-behavior: smooth;
}
body {
	color: #000000;
}
h1, h2 {
    color: inherit;
	font-family: inherit;
	font-size: inherit;
}
h1 {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 375%;
    display: flex;
}
h2 {
	font-family: "Open Sans", Georgia, serif;
    font-weight: 700;
    font-style: bold italic;
    font-size: 150%;
    display: flex;
}
h3 {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 120%;
    display: flex;
}
a {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
}
p {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 120%;
	margin-bottom: 0rem !important;
}

/* universal responsive */
@media only screen and (max-width: 576px) {
    h1.header, .header{
    font-family: 'futura-pt', arial, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    display: flex;
}
}
/* home page */
.btn-primary {
	background-color: #EEAE0D;
	border-radius: 0 0 0 0;
	border: none;
	color: #3c3c3a;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 700;
    text-transform: uppercase;
	font-size: 80%;
}
.btn-primary:hover {
	opacity: 0.6;
		background-color: #EEAE0D;
	border-radius: 0 0 0 0;
	border: none;
	color: #3c3c3a;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 700;
    text-transform: uppercase;
	font-size: 80%;
}
.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(238, 174, 13, 0.5);
}
a:hover {
    text-decoration: none !important;
	color: inherit;
}

/*responsive resume*/
@media only screen and (max-width: 1080px) {
     ul.timeline-list li .timeline_content {
         width: 100%;
    }
    ul.timeline-list li:before {
        display: none;
    }
    ul.timeline-list:before {
     width: 0px;   
    }
}
/* cummins */
.divider {
    border-bottom: 2px #3c3c3a solid;
}
.bg-yellow-1 {
    background-color: #FFE7A3;
}
.bg-yellow-2 {
    background-color: #DC8B18;
}
.bg-grey {
    background-color: #D8D8D7;
  }
/* zoom modal */
.zoom:hover {
    cursor: zoom-in;
}
.modal-dialog, .modal {
    cursor: zoom-out;
}
@media (min-width: 576px) {
.modal-dialog {
 max-width: 80% !important;   
}}
/* no clue */

/* new */
.nav-white {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 100%;
    display: flex;
	text-align: center;
	border-bottom: 3px rgba(255, 255, 255, 0.0) solid;
	color: white;
}
.nav-white:hover, .active-white {
	border-bottom: 3px white solid;
	transform: .5s ease-in-out;
	color: white;
}
.nav-black {
	color: black;
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 100%;
    display: flex;
	text-align: left;
	border-bottom: 3px rgba(255, 255, 255, 0.0) solid;
}
.nav-black:hover, .active-yellow {
	border-bottom: 3px #EEAE0D solid;
	transform: .5s ease-in-out;
	color: black;
}
.text-white {
		color: white;
}
.bg-green {
	background-color: #34340C;
}

.bg-white {
	background-color: white;
}
.margins {
	padding-left: 72px;
	padding-right: 72px;
}
.name {
	color: white;
	font-family: "Open Sans", san-serif;
	font-weight: 700;
	font-size: 7vw;
	text-transform: uppercase;
	line-height: 100%;
}
.sub-text {
	color: white;
	font-family: "Open Sans", san-serif;
	font-weight: 300;
	font-size: 120%;
}

.page-header {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 200%;
    display: flex;
}
.body {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
}
.body-italic {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 100%;
	font-style: italic;
}
.card-border {
	border: solid 1.5px #E7E7E7;
}
.divider {
	border-bottom: 1px #E7E7E7 solid;
}
.chip-text {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 80%;
    display: flex;
	text-align: center;
	border-bottom: 3px rgba(255, 255, 255, 0.0) solid;
	color: #404040;
}
.chip-background {
	background-color: #F2F2F2;
	border-radius: 32px 32px 32px 32px;
}
.section-header {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 150%;
    display: flex;
}
.border-black {
	border: solid 1px black;
}
.snackbar-background {
	background-color: #E7E7E7;
}