@charset "UTF-8";
@import url("https://use.typekit.net/erq0xnx.css");
/* universal */
html {
  scroll-behavior: smooth;
}
body {
	color: #000000;
}
h1, h2 {
    color: inherit;
	font-family: inherit;
	font-size: inherit;
}
h1 {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 375%;
    display: flex;
}
h2 {
	font-family: "Open Sans", Georgia, serif;
    font-weight: 700;
    font-style: bold italic;
    font-size: 150%;
    display: flex;
}
h3 {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 120%;
    display: flex;
}
a {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
}
p {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 120%;
	margin-bottom: 0rem !important;
}
a:hover {
    text-decoration: none !important;
	color: inherit;
}
.margins {
	padding-left: 72px;
	padding-right: 72px;
}

/* universal responsive */
@media only screen and (max-width: 576px) {
    h1.header, .header{
    font-family: 'futura-pt', arial, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    display: flex;
}
}

/* zoom modal */
.zoom:hover {
    cursor: zoom-in;
}
.modal-dialog, .modal {
    cursor: zoom-out;
}
@media (min-width: 576px) {
.modal-dialog {
 	max-width: 80% !important;   
}
.media-row {
	width:100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 15px 0 0 15px;
	}
}

/* borders and backgrounds */
.border-black {
	border: solid 1px black;
}
.chip-background {
	background-color: #F2F2F2;
	border-radius: 32px 32px 32px 32px;
}
.snackbar-background {
	background-color: #E7E7E7;
}
.bg-green {
	background-color: #34340C;
}

.bg-white {
	background-color: white;
}
.bg-grey {
	background-color: #E7E7E7;
}
.card-border {
	border: solid 1.5px #E7E7E7;
}
.divider {
	border-bottom: 1px #E7E7E7 solid;
}
.bg-yellow {
	background-color: #EEAE0D;
}

/* text fonts and colors */
.nav-white {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 100%;
    display: flex;
	text-align: center;
	border-bottom: 3px rgba(255, 255, 255, 0.0) solid;
	color: white;
}
.nav-white:hover, .active-white {
	border-bottom: 3px white solid;
	transform: .5s ease-in-out;
	color: white;
}
.nav-black {
	color: black;
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 100%;
    display: flex;
	text-align: left;
	border-bottom: 3px rgba(255, 255, 255, 0.0) solid;
}
.nav-black:hover, .active-yellow {
	border-bottom: 3px #EEAE0D solid;
	transform: .5s ease-in-out;
	color: black;
}
.text-white {
		color: white;
}
/* 12.8px regular */
.chip-text {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 80%;
    display: flex;
	text-align: center;
	border-bottom: 3px rgba(255, 255, 255, 0.0) solid;
	color: #404040;
}
/* 32px bold */
.section-header {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 150%;
    display: flex;
}
/* large bold all caps*/
.name {
	color: white;
	font-family: "Open Sans", san-serif;
	font-weight: 700;
	font-size: 9vw;
	text-transform: uppercase;
	line-height: 100%;
}
/* 19.2px */
.sub-text {
	color: white;
	font-family: "Open Sans", san-serif;
	font-weight: 300;
	font-size: 120%;
}
/* 32px light*/
.page-header {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 200%;
    display: flex;
}
/* 16px regular */
.body {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 100%;
}
.body-italic {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 100%;
	font-style: italic;
}
/* 24px light */
.anchors {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 150%;
	border-bottom: 4px rgba(0,0,0,0.0) solid;
}
.anchors:hover {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 150%;
	border-bottom: 4px #EEAE0D solid;
}
.eyebrow {
	font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
	font-size: 80%;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 200%;
}
.btn-primary {
background-color: #EEAE0D;
    border-radius: 0 0 0 0;
    border: none;
    color: #000000;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80%;
}
.btn-primary:hover {
    opacity: 0.6;
    background-color: #EEAE0D;
    border-radius: 0 0 0 0;
    border: none;
    color: #000000;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 80%;
}